{% extends "_base.html" %}

{% block content %}
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="fw-light">Welcome to CodeGram !!</h1>
            <p class="lead">Here, you are going to find solutions to several important questions of various
                websites like LeetCode, Codechef etc...</p>
            <p class="lead">Please select a website above to continue...</p>
            <!-- <div style="height: 700px"></div> -->
        </div>
    </div>
</div>
{% endblock %}